









/* XX-Large devices (larger desktops) */
/* No media query since the xxl breakpoint has no upper bound on its width */

/* XL-Large devices (large desktops, less than 1600px) */
@media (max-width: 1599.98px) { 
    
    h1{
        line-height: 3rem;
        font-size: 3.2rem;
    }
    .wrapper {
        padding-top: 5.5rem;
        padding-bottom: 5.5rem
    }
    .nav-item .nav-link {
        margin: 0 0.7rem;
    }
    .hero-slider {
        padding-bottom: 0;
        padding-top: 8rem;
    }
    .hero-slider-item .slider-img::before {
        left: 32.2%;
    } 
    .hero-slider-item p {
        margin-bottom: 0.7rem;
        letter-spacing: 0;
    }
    .hero-slider .slick-prev, .hero-slider .slick-next {
        padding: 12px 24px;
    }
    .hero-slider .prevArrow, .hero-slider .nextArrow {
        bottom: 144px;
    }
    .about-ocs-img::before {
        height: 775px;
        width: 585px;
    }
    .overlay1 {
        height: 800px;
    }

 }

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
    h1 {
        line-height: 2rem;
        font-size: 2.2rem;
    }
    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 2.8rem;
        margin-bottom: 1.2rem;
    }
    p {
        font-size: .835rem;
        letter-spacing: 0px;
        line-height: 1.4rem;
    }
    .btn-buy {
        font-size: .835rem;
        font-weight: 700;
        line-height: 1rem;
        padding: 0.625rem 2.525rem;
        border: 0.105rem solid var(--primary-color);
    }
    .nav-header .navbar {
        margin: 0 0.325rem;
    }
    .nav-item .nav-link{
        font-size: 12px;
    }
    .hero-slider{
        padding-bottom: 0;
        padding-top: 7rem;
    }
    .hero-slider .prevArrow, .hero-slider .nextArrow {
        bottom: 90px;
    }
    .hero-slider .slick-prev, .hero-slider .slick-next {
        padding: 8px 16px;
    }
    .hero-slider-item .slider-img::before {
        left: 31.8%;
    }
    .hero-slider .prevArrow {
        right: 109px;
    }
    .hero-slider-item p {
        font-size: 12px;
        line-height: 14px;
    }
    .btn-main {
        font-size: 14px;
        line-height: 1.5rem;
        padding: 0.25rem 2rem;
        border:1px solid #f7c17b;
    }
    .hero-slider-item .slider-img::before {
        left: 32.5%;
        content: 'BEST';
        background-color: var(--secondry-color);
        color: var(--primary-color);
        height: 55px;
        width: 55px;
        border-radius: 50%;
        font-size: 13px;
        font-weight: 600;
        text-align: center;
        display: block;
        padding: 19px 12px;
    }
    .pprice {
        font-size: 1rem;
    }
    .product-wrapper .row {
        height: 620px;
    }
    .product-wrapper {
        padding: .5rem 0;
    }
    .product-img::before {
        content: '';
        height: 637px;
        width: 460px;
        top: -140px;
        left: -60px;
    }
    .product-img::after {
        content: '01';
        height: 50px;
        width: 50px;
        top: -14%;
        right: 34%;
        font-size: 14px;
        padding: 15px 15px;
    }
    .product-img2::before {
        content: '';
        height: 530px;
        width: 435px;
        top: -100px;
        left: 0px;
    }
    .product-img2::after {
        content: '02';
        height: 50px;
        width: 50px;
        top: -9%;
        left: 52%;
        font-size: 14px;
        font-weight: 400;
        padding: 15px 15px;
    }
    .product-img3::before {
        content: '';
        height: 510px;
        width: 450px;
        top: -90px;
        left: 0px;
    }
    .product-img3::after {
        content: '03';
        height: 50px;
        width: 50px;
        top: -10%;
        left: 54%;
        font-size: 14px;
        padding: 15px 15px;
    }
    .btn-sm-section .btn-sm {
        font-size: 1.2rem;
        padding: 1rem 5rem;
        border-radius: 0.5rem;
        margin: 1rem 0;
        border: 2px solid var(--secondry-color);
    }
    .overlay1 {
        height: 650px;
    }
    .about-ocs-img::before {
        height: 550px;
        width: 475px;
    }
    .mt-5 {
        margin-top: 2rem!important;
    }
    .about-ocs-section img {
        margin: 7rem 0;
    }
    .about-ocs-img img {
        padding: 0rem 3rem;
    }
    .sayheading {
        padding: 2rem 0 0 0;
        margin-bottom: 0.1rem;
    }
    .review-slider {
        padding: 4rem;
    }
    .review-slider .slick-next,.review-slider .slick-prev{
        padding: 10px 20px;
    }
    .review-slider .prevArrow, .review-slider .nextArrow {
        bottom: -27px;
    }
    .news-section .card-section {
        margin-top: 4rem;
    }
    .g-5, .gx-5 {
        --bs-gutter-x: 1.7rem;
    }
    .news-section .card .card-title {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .news-section .card .card-subtitle {
        font-size: .835rem;
        margin-bottom: 0.5rem;
    }
    .wrapper {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .call-back-section .form-control {
        padding: 1rem 1.2rem;
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 0.6rem;
       }
       .mb-5 {
        margin-bottom: 2rem!important;
    }
    .btn-sent {
        font-size: 1.2rem;
        padding: 1rem 4.5rem;
        border-radius: 1rem;
        border: 1px solid var(--secondry-color);
     }
     .map {
        margin-top: 6rem;
    }
    .footer .subs .form-control {
        padding: 0.8rem 1rem;
        font-size: 0.9rem;
        line-height: 1.6rem;
        margin-bottom: 1.4rem;
    }
    .footer .subs .btn-subs {
        font-size: 0.9rem;
        line-height: 1.5rem;
        padding: 0.45rem 2.525rem;
    }
    .footer-copyright p {
        padding-top: 1rem;
        font-size: 0.8rem;
    }
    .footer .footer-communication h5 {
        font-size: 0.835rem;
        font-weight: 300;
        margin: 0.3rem;
    }
    .footer .footer-social a {
        font-size: 1.1rem;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    .nav-item .nav-link {
        margin: 0 0rem;
    }
    .navbar-brand img{
        /* width: 70%; */
    }
 }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { ... }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { ... }

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { ... }